
<body>
    {% if user.is_client %}
        <h4>Hola {{user.client.company}}:</h4>
        
        <p>Te enviamos las credentiales para acceder al seguimiento de tu carga:</p>
        <ul>
            <li><strong>Usuario:</strong>  {{user.username}}</li>
            <li><strong>Contraseña:</strong>  {{password}}</li>
        </ul>
        <a href="https://cargas-ar.herokuapp.com/">Click aquí para acceder a la información de tu carga.</a>
        <p>O accede a https://cargas-ar.heroku.com</p>
        <br>
        <h4>Adrian Rosenbaum</h4>
    {% else %}
        <h4>Hola {{user.first_name}} {{user.last_name}}:</h4>

        <p>Con el siguiente Usuario y Contraseña podrás acceder para realizar la inspección de tus cargas:</p>
        <ul>
            <li><strong>Usuario:</strong>  {{user.username}}</li>
            <li><strong>Contraseña:</strong>  {{password}}</li>
        </ul>
        <br>
        <h4>Adrian Rosenbaum</h4>
    {% endif%}
</body>

